.site-header {
background: #fff !important;
font-family: 'Arial', sans-serif;
font-weight: 600;
}

.site-sider{
background: #fff !important;
}

.site-title {
display: inline-block;
font-size: 20px;
line-height: 50px;
margin-bottom: 10px;
margin-left: 20px;
}

.ant-menu-inline > .ant-menu-item{
  font-size: 18px !important;
  font-family: 'Arial', sans-serif;
  padding-left: 15px !important;
  margin-top: 0px !important;
}

.toolbox{
color: #fff;
font-size: 20px !important;
font-family: 'Arial', sans-serif;
}

.ant-table-cell{
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}

.module-border{
  border: 1px solid #D8D8D8;
}

.module-border-part{
  border-top: 1px solid #D8D8D8;
}

.module-border-selected{
  border: 1.5px solid #165DFF;
}

.module-title{
  color: #165DFF;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  margin-top: 2px;
}

.module-content{
  color: #000;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
}

.module-button{
  background-color: #165DFF !important;
  color: #fff !important;
}

.step-circle-focus{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background: #165DFF;
  color: #fff;
  margin-top: 0px;
  margin-left: 20px;
  font-size: 12px;
}

.step-circle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background: #DCDCDC;
  color: #000;
  margin-top: 0px;
  margin-left: 20px;
  font-size: 12px;
}

.step-content{
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  margin-left: 10px;
}

.op-stage{
  white-space: pre-wrap;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}

.op-detail{
  white-space: pre-wrap;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.ant-select-selector {
  height: 20px !important;
}

.ant-select-selection-item {
  line-height: 20px !important;
}

.separator {
  border-top: 1px solid #ccc;
  margin: 7px 10px;
}

.metric-table .ant-table-thead th {
  font-size: 14px;
}

.metric-table .ant-table-tbody tr td {
  font-size: 12px;
}

.metric-table tbody tr:nth-child(2) td {
  font-weight: bold;
}

.ant-table-thead > tr > th {
  font-weight: 600 !important;
}

.ant-table-thead > tr > th:first-child {
  text-align: center;
}



/* .ant-steps-item-container>.ant-steps-item-icon {
  width: 20px !important;
  height: 20px !important;
  font-size: 12px !important;
  margin: '0px 20px 0px 0px' !important;
} */

/* .ant-list {
  height: 100px !important;
  overflow-y: auto !important;
} */
/* 隐藏滚动条 */
/* ::-webkit-scrollbar {
  display: none;
} */